/* REGLES CSS PAR DEFAULT */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightgray;
}

/* CSS PAGE D'ACCUEIL */
#header-home {
  background-image: url("https://cdn.pixabay.com/photo/2017/06/05/11/01/airport-2373727_960_720.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 90vh;
}

#header-home h1 {
  text-align: center;
  padding-top: 150px;
}

.join-team {
  height: 40vh;
  padding-top: 30px;
  padding-bottom: 30px;
}

.join-team .row {
  height: 100%;
}

.join-team .content-text {
  background-color: grey;
  padding-left: 50px;
  padding-right: 50px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.join-team .content-btn {
  padding-left: 50px;
  padding-right: 50px;
  background-color: white;
  color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#pays_nom {
  background: red;
  border: red 1px solid;
}
