<div class="container">
	<div class="rowmt-5 p-4" id="form-pays">

		{{ form_start(form) }}
		{{ form_widget(form) }}

		<button class="btn btn-primary">{{ button_label|default('Save') }}</button>
		{{ form_end(form) }}
	</div>

</div>
