{% extends 'base.html.twig' %}

{% block title %}Nouveau Pays
{% endblock %}

{% block body %}
	<h1>Ajouter new Pays</h1>

	{{ include('pays/_form.html.twig') }}

	<a href="{{ path('app_pays_index') }}">Retour à la liste des pays</a>
{% endblock %}
